/* resetando as configurações da pagina */

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;

}

/* formação do grid */

#container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";

}

/*  adequação header para mudar a cor do plano de fundo */

header {
    grid-area: header;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color:black
}

/*  limitando o conteudo da nav para não colar nas bordas da pagina */

#cont {
    width: 80%;
    height: 100%;
    display: flex;

}

/*  configurando as seções a partir do "pai" das mesmas para 
    o conteudo ficar em coluna e aliunhadas */

main {
    display: flex;
    grid-area: main;
    align-items: center;
    flex-direction: column;
}

/*  padding para alinhar, e configurar um plano de fundo fluido 
    e definindo a primeira seção do main*/

#mainOne {
    display: flex;
    width: 100%;
    height: 120%;
    color: white;
    padding: 2% 9% 2% 9%;
    background-image: url(../img/background/3.jpg);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 100% 100%;
    align-items: center;
    flex-direction: column;
}

/*  tornando a imagem fluida */

.mainImg {
    width: 50%;
}
/*  mudando a cor dos titulos */
h1, h3 {
    color: black;
}

/*  definindo as configurações das seções do main
    essa configuração tabém se aplica a outras seções
    ja que, o modelo segue o padrão da mesma */
.mainTwo {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color:black
}

.mainPromo {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 2% 9% 2% 9%;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: black;
}

.mainPromoPic {
    display: flex;
    width: 100%;
    padding: 2% 2% 2% 2%;
    justify-content: center;
    flex-wrap: wrap;

}

/*  dando padding para alinhamento das imgs*/
.item {
    padding: 2% 2% 2% 2%;
}

/*  configurações para o footer tanto para alinhamento
    quanto para cores e afins */

footer {
    display: flex;
    grid-area: footer;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color:black

}

.f {
    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;
    background-color:black;
    color: white;
    flex-direction: row;

}

.textoFooter{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 2% 9% 0% 9%;
    align-items: center;
    flex-direction: column;
    background-color:black
}

.footerInfo {
    width: 100%;
    height: 100%;
    display: flex;    
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 2% 9% 2% 9%;
    text-align: center;

}

/*  configurar estilo/forma das informações do .Dev */

.idDev {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
}
h4{
    color: wheat;
}